.app-container{

    display:flex;

}

app-sidebar{

    width:240px;

    transition:.3s;

}

.app-container.sidebar-collapsed app-sidebar{

    width:80px;

}
/* RIGHT SIDE */
.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TOP NAVBAR */
app-navbar {
  height: 60px;
  background: #2563eb;
  color: white;
  display: block;
}

/* PAGE CONTENT */
.page-content {
  flex: 1;
  padding: 20px;
  background: #f5f7fb;
  overflow: auto;
}
