<div class="register-page">
  <div class="top-actions">
    <button type="button" class="back-btn" (click)="goToLogin()">← Back to Login</button>
  </div>

  <div class="register-container">
    <div class="brand">
      <h2>Forgot Password</h2>
      <p>Reset your account password</p>
    </div>

    <form (ngSubmit)="forgotPassword()">
      <input
        type="username"
        [(ngModel)]="username"
        name="username"
        placeholder="Enter your Username"
        required
      />
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Enter your email"
        required
      />

      <button type="submit">Reset Password</button>

      @if (errorMessage()) {
        <div class="error">
          {{ errorMessage() }}
        </div>
      }

      @if (successMessage()) {
        <div class="success">
          {{ successMessage() }}
        </div>
      }
    </form>
  </div>
</div>
