<div class="analytics-card" *ngIf="releaseReadiness">

    <div class="card-header">

        <div>

            <h3>Release Readiness</h3>

            <p class="subtitle">

                Overall Sprint Health

            </p>

        </div>

        <span
                class="status"

                [class.ready]="releaseReadiness.releaseReady"

                [class.pending]="!releaseReadiness.releaseReady">

            {{releaseReadiness.releaseReady ? 'Ready' : 'Pending'}}

        </span>

    </div>

    <div class="release-center">

        <div class="progress-circle">

            {{releaseReadiness.completion}}%

        </div>

    </div>

    <div class="release-stats">

        <div class="release-item">

            <span>

                🐞 Open Bugs

            </span>

            <strong>

                {{releaseReadiness.openBugs}}

            </strong>

        </div>

        <div class="release-item">

            <span>

                🚫 Blocked

            </span>

            <strong>

                {{releaseReadiness.blockedTasks}}

            </strong>

        </div>

    </div>

</div>